@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
     }
   
body {
    background-image: url('../imgs/bckground.png');
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.box {
    background-color: #70495e;
    padding-left: 60px;
    padding: 13vh;
    border-radius: 50%;
}

.box h2 { 
   margin-bottom: 40px;
   text-align: center;
   font-size: 30px;
   color: white;
}
input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: none;
    border: 2px solid none;
    outline: none;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}
 input ::placeholder {
     font-size: 26px;
     font-family: 'Raleway', sans-serif;
 }

 #btnGen {
     display: flex;
     font-size: 30px;
     background-color: #ac7b6e;
     color: white;
     justify-content: center;
     cursor: pointer;
     text-align: center;
     margin-top: 40px;
     width: 200px;
     height: 70px;
     padding-top: 15px;
     margin-left: 25%;
     border: none;
     border-radius: 50%;
     font-family: 'Raleway', sans-serif;
 }
 #btnGen:hover {
     color: black;
     background-color: #CA9072;
 }